@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";


.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 24px;
}

@keyframes cartPulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.cart-added {
  animation: cartPulse 0.6s ease;
}